<launch>

    <arg name="model" default="mecanum" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="config_paths" default="$(find junbot_adaptive)/configs" doc="config paths [$(find junbot_adaptive)/configs]"/>

    <node name="add_object_layer" pkg="junbot_adaptive" type="add_layer" output="screen" >
        <param name="map_path" value="$(arg config_paths)/map.json"/>
    </node>

    <!-- <node name="adptive_controller" pkg="junbot_adaptive" type="adaptiveControl" output="screen" >
        <param name="control_param" value="$(arg config_paths)/adaptive_controller.yaml"/>
    </node>-->

    <node name="mission_control" pkg="junbot_adaptive" type="mission_control" output="screen" >
        <param name="mission_path" value="$(arg config_paths)/mission.json"/>
    </node>

</launch>



