<launch>

    <arg name="model" default="mecanum" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="config_paths" default="$(find junbot_adaptive)/configs" doc="config paths [$(find junbot_adaptive)/configs]"/>

    <node name="add_object_layer" pkg="junbot_adaptive" type="add_layer" output="screen" >
        <param name="object_layer" value="$(arg config_paths)/object_layer.yaml"/>
        <param name="map" value="$(arg config_paths)/map.json"/>
        <param name="mission" value="$(arg config_paths)/mission.json"/>
    </node>

    <!-- <node name="adptive_controller" pkg="junbot_adaptive" type="adaptiveControl" output="screen" >
        <param name="object_layer" value="$(arg config_paths)/adaptive_controller.yaml"/>
    </node> -->

</launch>



